{% load static %}
<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <head>
    <title>{{APPLICATION_NAME}}</title>
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="CodedThemes" />
    <link rel="icon" href="http://html.codedthemes.com/datta-able/bootstrap/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'base/fonts/fontawesome/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/plugins/animation/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/plugins/notification/css/notification.min.css' %}">
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}">
    <script src="{% static 'base/plugins/jquery/js/jquery.min.js' %}"></script>
  </head>
  <body>
    <div class="auth-wrapper">
      <div class="auth-content">
        <div class="auth-bg">
          <span class="r"></span>
          <span class="r s"></span>
          <span class="r s"></span>
          <span class="r"></span>
        </div>
        <div class="card">
          <div class="card-body text-center">
            <div class="mb-4">
              <i class="feather icon-user-plus auth-icon"></i>
            </div>
            <h3 class="mb-4">Sign up</h3>
            <div class="input-group mb-3">
              <input type="text" id="first_name" class="mr-1 form-control" placeholder="First Name">
              <input type="text" id="last_name" class="ml-1 form-control" placeholder="Last Name">
            </div>
            <div class="input-group mb-3">
              <input type="text" id="username" class="form-control" placeholder="Username" autocomplete="off">
            </div>
            <div class="input-group mb-3">
              <input type="email" id="email" class="form-control" placeholder="Email" autocomplete="off">
            </div>
            <div class="input-group mb-4">
              <input type="password" id="password" class="form-control" placeholder="password" autocomplete="off">
            </div>
            <div class="form-group text-left">
              <div class="checkbox checkbox-fill d-inline">
                <input type="checkbox" name="checkbox-fill-2" id="checkbox-fill-2">
                <label for="checkbox-fill-2" class="cr">Send me the <a href="#!"> Newsletter</a> weekly.</label>
              </div>
            </div>
            <button id="registration" class="btn btn-primary shadow-2 mb-4">Sign up</button>
            <p class="mb-0 text-muted">Allready have an account? <a href="{% url 'core:rbac:login' %}"> Log in</a></p>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'base/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'base/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/plugins/notification/js/bootstrap-growl.min.js' %}"></script>
    <script src="{% static 'base/js/pcoded.min.js' %}"></script>
    <script src="{% static 'base/custom/js/moment.min.js' %}"></script>
    <script src="{% static 'base/custom/js/storage.js' %}"></script>
    <script src="{% static 'base/custom/js/helper.js' %}"></script>
    <script src="{% static 'rbac/js/registration.js' %}"></script>
  </body>
</html>