{% load static %}
<link rel="stylesheet" href="{% static 'base/fonts/fontawesome/css/fontawesome-all.min.css' %}">
<link rel="stylesheet" href="{% static 'base/plugins/animation/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'base/plugins/notification/css/notification.min.css' %}">
<link rel="stylesheet" href="{% static 'base/plugins/modal-window-effects/css/md-modal.css' %}">
<link rel="stylesheet" href="{% static 'base/plugins/data-tables/css/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'base/plugins/data-tables/css/searchPanes.dataTables.min.css' %}">
<link rel="stylesheet" href="{% static 'base/plugins/data-tables/css/select.dataTables.min.css' %}">
{#==========SWEETALERT2==========#}
<link rel="stylesheet" href="{% static 'base/plugins/sweetalert2/css/sweetalert2.min.css' %}">
<link rel="stylesheet" href="{% static 'base/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'base/css/style.css' %}">
<link rel="stylesheet" href="{% static 'base/plugins/jstree/css/jstree.min.css' %}">
