{% load static %}



<script src="{% static 'base/js/vendor-all.min.js' %}"></script>
<script src="{% static 'base/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'base/js/menu-setting.min.js' %}"></script><!--  Responsible for generation right sidebar -->

                    <!-- ============ DATATABLE ===============-->
{#<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>  <!-- v-->#}
{#<script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>  <!-- v-->#}


<script src="{% static 'base/plugins/data-tables/js/datatables.min.js' %}"></script>  <!-- v-->
<script src="{% static 'base/plugins/data-tables/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'base/plugins/data-tables/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'base/plugins/data-tables/js/dataTables.searchPanes.min.js' %}"></script>
<script src="{% static 'base/plugins/data-tables/js/dataTables.select.min.js' %}"></script>



<!-- <script src="{% static 'base/js/pages/tbl-datatable-custom.js' %}"></script> -->

<script src="{% static 'base/js/pcoded.min.js' %}"></script>

<script src="{% static 'base/plugins/jstree/js/jstree.min.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/amcharts.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/gauge.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/serial.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/light.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/pie.min.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/ammap.min.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/usaLow.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/radar.js' %}"></script>
<script src="{% static 'base/plugins/amchart/js/worldLow.js' %}"></script>
<script src="{% static 'base/plugins/notification/js/bootstrap-growl.min.js' %}"></script>
<script src="{% static 'base/plugins/sweetalert/js/sweetalert.min.js' %}"></script>
                            {#==========SWEETALERT2==========#}
<script src="{% static 'base/plugins/sweetalert2/js/sweetalert2.all.min.js' %}"></script>
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/promise-polyfill"></script>
{#<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>  <!-- SWEETALERT2 cdn-->#}
<script src="{% static 'base/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'base/plugins/modal-window-effects/js/classie.js' %}"></script>
<script src="{% static 'base/plugins/modal-window-effects/js/modalEffects.js' %}"></script>
<script src="{% static 'base/js/pages/dashboard-custom.js' %}"></script>

                            <!-- MULTI SELECT  -->
<script src="{% static 'base/plugins/multi-select/js/jquery.multi-select.js' %}"></script>
<script src="{% static 'base/js/pages/form-select-custom.js' %}"></script>
<!-- CUSTOM JS -->
<script src="{% static 'base/custom/js/blockUI.js' %}"></script>
<script src="{% static 'base/custom/js/parsley.min.js' %}"></script>
<script src="{% static 'base/custom/js/moment.min.js' %}"></script>
<script src="{% static 'base/custom/js/storage.js' %}"></script>
<script src="{% static 'base/custom/js/helper.js' %}"></script>
